<footer id="footer">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CTSLFSCNX0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CTSLFSCNX0');
</script>
    <br>
    <div id="footer" style="justify-content: center; text-align: center; align-self: center;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <span id="footer-name">TutorHub © </span> <a id="email-link" href="mailto:tutorhub@mail.com" style="color: #f90 !important;">Contact</a>

        <input type="button" class="btn btn-link btn-sm" onclick="window.location.href = 'PrivacyPolicy';"
            value="Privacy Policy" style="color: #f90 !important; color: black;">

        <input type="button" class="btn btn-link btn-sm" onclick="window.location.href = '';" value="Terms of Service"
            style="color: #f90 !important; color: black;">

    </div>
    <br>
</footer>
