<body>
  <div class="mainTitle">
    <br><h1 class="display-1">Welcome to our website!</h1><br>
  </div>

  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <br><input type="button" class="btn btn-primary" onclick="window.location.href = './FrontEnd/AboutUs/AboutUsHome.html';" value="About Us">
    </div>
</div>
</body>
