*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial;
}

#sudoku-container {

    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    font-size: 3.5vmin;
    gap: 1vmin;
    color: aliceblue;
    padding-top: 2vmin;
}

#game-board {

    display: grid;
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    background-color: #2d3238;
    gap: var(--cell-gap);
    
    padding: var(--cell-gap);
    position: relative;
    border: 2px solid aliceblue;
}

.cell {
    background-color: #41464d;
   
}

.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    font-weight: bold;
    background-color: hsl(180, 50%, var(--background-lightness));
    color: hsl(180, 25%, 10%);
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
    pointer-events: none;
}


.cell[data-state="active"] {
    /* border: 2px solid hsl(200, 1%, 34%); */
    border: 2px solid hsl(180, 0%, 43%);
}

.tile.flip {
    transform: rotateX(90deg);
}

.alert-container {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert {
    z-index: 1;
    pointer-events: none;
    background-color: hsla(204, 6%, 85%, 0.89);
    color: #2d3238;
    padding: .75em;
    border-radius: .25em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .5em;
}

.alert:last-child {
    margin-bottom: 0;
}

.alert.hide {
    opacity: 0;
}

#temp {
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: center;
}

#warning {
    font-size: 6vmin;
}

.instructions {
    display: flex;
    z-index: 1;
    align-self: center;
}

.i-grid {
    position: absolute;
    display: grid;
    grid-template-areas: repeat(auto, auto);
    font-size: 2vmin;
    background-color: #2d3238;
    padding: 5vmin;
}

.r-col {
    margin-right: .4vmin;
}

.l-col {
    margin-left: .4vmin;
}
.t-row {
    margin-bottom: .4vmin;
}

.b-row {
    margin-top: .4vmin;
}

.controls {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2px;
    gap: 20px;
}

#directions {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 5em));
    grid-auto-rows: 5em;
    gap: .25em;
    justify-content: center;
}

.arrow {
    font-size: 2vmin;
    grid-column: span 1;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 79, 80);
    color: white;
    fill: white;
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}


.actions {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 5em));
    grid-auto-rows: 5em;
    gap: .25em;
    justify-content: center;
}

.key {
    font-size: 1.5vmin;
    grid-column: span 2;
    border: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 79, 80);
    color: white;
    fill: white;
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 5em));
    grid-auto-rows: 5em;
    gap: .25em;
    justify-content: center;
}

.num {
    font-size: 2.5vmin;
    grid-column: span 1;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 79, 80);
    color: white;
    fill: white;
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
}

.hide {
    display: none;
}
