<body>
    <div id="content">
        <div class="items"
        style="text-align: center;
        align-items: center;">
            <div class="leftBorder"></div>
            <br>
            <h1 class="display-3">Douglas Hurtado</h1><br>
            <img style="width: 400px; height: 400px;" src="/Assets/DougAboutMe.jpg"><br><br>
            <h3>
            I am Douglas Hurtado, a computer science student at San Francisco State University.
            </h3>

            <br><input type="button" class="btn btn-outline-dark" onclick="window.location.href = 'AboutUsHome';" value="Return"
            style="background-color: #f90 !important; color: black;">
        </div>
    </div>
</body> 