<body>
    <div id="content">
        <div style="align-items: center; text-align: center;">
            <h1 class="display-3">Software Engineering Class SFSU</h1>
            <h1 class="display-3">Fall Semester 2021</h1>
            <h1 class="display-3">Section 3</h1>
            <h1 class="display-3">Team 5</h1>
        </div>
        

        <div style="text-align: center;
            align-items: center;">

            <br><br><a class="display-6" href="AboutStephanie" style="color: #f90;">Stephanie Gong</a><br>
            <a class="display-6" href="AboutRyan" style="color: #f90;">Ryan Ta</a><br>
            <a class="display-6" href="AboutRobert" style="color: #f90;">Robert Franz</a><br>
            <a class="display-6" href="AboutJay" style="color: #f90;">Ives-Christian "Jay" Jadman</a><br>
            <a class="display-6" href="AboutDoug" style="color: #f90;">Douglas Hurtado</a><br>  
            <a class="display-6" href="AboutSuraj" style="color: #f90;">Suraj Bajgain</a><br>

            <br><input type="button" class="btn btn-outline-dark" onclick="Back()" value="Return"
                style="background-color: #f90 !important; color: black;">
        </div>
    </div>
</body>