<body>
    <div id="content">
        <br><h1 align ="center">Become a Tutor</h1>
        <br>
        <div id = "container" style = "display: flex; flex-direction:column;  align-items:center; text-align: center;">
            <form id="tutor-form" method="POST" enctype="multipart/form-data" action="/posts/becometutor">
                <!-- Form Data -->
                <input id="listingName" placeholder="Name" style="width: 300px;" name="listingName"><br>
                <br>
                {{!-- <input id = "listingCategory" placeholder="Courses" style="width: 300px;" name="listingCategory">
                <br> --}}
                <!-- Dropdown -->
                <select class="select" id="listingCategory" name="listingCategory" onchange="getSelect(this)" style="width: 300px;">
                    <option disabled>Select a major</option>
                    <option data-adr="1" value="1">Computer Science</option>
                    <option data-adr="2" value="2">Math</option>
                    <option data-adr="3" value="3">Psychology</option>
                    <option data-adr="4" value="4">Law</option>
                    <option data-adr="5" value="5">Nursing</option>
                    <option data-adr="6" value="6">Music</option>
                    <option data-adr="7" value="7">Business</option>
                </select><br>
                <br>
                <input id = "listingTittle" placeholder="Title" style="width: 300px;" name="listingTittle"><br>
                <br>
                <input id = "listingPrice" placeholder="Price" style="width: 300px;" name="listingPrice"><br>
                <br>
                <input id = "listingDescription" placeholder = "Description" style="line-height: 5em; width: 300px;" name="listingDescription"><br>
                <br>
                <input id = "listingAvailability" placeholder = "Availability" style="line-height: 5em; width: 300px;" name="listingAvailability"><br>
                <br>
                <label id = "image-upload">Upload your profile picture</label><br>
                <input id="img-selct" type="file" name="uploadImage" placeholder= "Upload Image" required><br>
                <br>

                <input type="checkbox" required>
                        <label>&nbsp; I understand that listings may take up to 24 hours to appear.</label>

                <div class="row">
                <div class = "col-sm text-center"></div>
                <!-- Back and Submit Buttons -->
                <div class = "col-sm text-center">
                    <br><button type="button" class="btn btn-outline-dark" onclick="Back();"style="background-color: #f90 !important; color: black;" id="cancel">Cancel</button>
                </div>
                <div class = "col-sm text-center">
                    <br><button id="submit" type="submit" class="btn btn-outline-dark"
                            style="background-color: #f90 !important; color: black;">Submit</button>
                </div>
                <div class = "col-sm text-center"></div>
            </form>
        </div>
</body> 
