<div id="main-content" style="text-align: ce;">
    <div id="error-container">
        <div id="error-message">500 Server Internal Error. <br /> Something went wrongs.  Please try again later</div>
        <div id-"error-gif"></div>
    </div>  
</div>