<head>
    <head>Ufo Game</head>
    <link rel="stylesheet" type="text/css" href="/game.css" />
    <script src="/gamescript.js" type="module"></script>
</head>

<body>
    <div id="body">
        <div class="world" data-world>
            <div class="score" data-score>0</div>
            <div class="start-screen" data-start-screen>Press Enter to play</div>
            <img src="ground.png" class="ground" data-ground>
            <img src="ground.png" class="ground" data-ground>
            <img src="ufo-0.png" class="ufo" data-ufo>
        </div>
    </div>
    <div id="instructions">
        <div class="inst">Space to Jump </div>
        <div class="inst">F to shoot enemy spaceships</div>
        <div class="inst">Each shot costs 10 points</div>
        
    </div>
</body>