<head>
    <link rel="stylesheet" type="text/css" href="/game.css" />
      <script src="/gamescript.js" type="module"></script>
</head>

<body>
    <div id="body">
        <div class="world" data-world>
            <div class="score" data-score>0</div>
            <div class="start-screen" data-start-screen>Press Any Key to Start</div>
            <img src="ground.png" class="ground" data-ground>
            <img src="ground.png" class="ground" data-ground>
            <img src="ufo-0.png" class="ufo" data-ufo>
        </div>
    </div>
</body>