<head>
    <title>Human Computer Interaction</title>
</head>

<body>
    <div id="hci-container">
        <div id="hci-title">Human Computer Interaction Project</div>
        <div id="hci-pic">
            <img
                src="https://user-images.githubusercontent.com/6775270/169417931-7e460699-60ca-440e-ae0e-d4f1c89d8511.png">
        </div>
        <div id="hci-text">
            <div id="hci-desc">
                This project focused on the process of creating an app which <br>
                human computer interation was highlighted. <br>
                The research process included holding both individual interviews <br>
                and focus groups in order to prioritize usability. <br>
                Additionally, Figma was used for wireframing and prototyping.
            </div>
            <div id="hci-more">
                <div id="hci-link">View more thorough documentation at: </div>
                <button type="button" class="btn btn-light" id="hci-btn"
                    onclick="location.href='https://robertfranz-sfsu.github.io/VolunteerHub/'">Visit Project
                    Site</button>
            </div>
        </div>


    </div>
</body>