<body>
    <div id="hci-container">
        <div id="hci-link">Explore project at: </div>
        <button type="button" class="btn btn-light" id="hci-btn"
            onclick="location.href='https://robertfranz-sfsu.github.io/VolunteerHub/'">Visit Project Site</button>
    </div>
</body>