<body>
    <div id="content">
        {{#if logged}}
        <h3 style="text-align: center;">Inbox</h3>
        
        <div class="col-lg-12 col-md-12 p-5 ml-5 mr-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                        <th scope="col" style="color: #f90 !important">From</th>
                        <th scope="col" style="color: #f90 !important">Message</th>
                        <th scope="col" style="color: #f90 !important">Time</th>
                        <th scope="col" style="color: #f90 !important"></th>

                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="body">

                </tbody>
            </table>
        </div>
        <script>

            function formated_date(date) {
                return `${new Date(date).getDate()}-${new Date(date).getMonth()}-${new Date(date).getFullYear()} ${new Date(date).getHours() > 12 ? new Date(date).getHours() : '0' + new Date(date).getHours()}:${new Date(date).getMinutes()} `
            }
            window.onload = async function () {
                let list = []
                try {
                    var response = await fetch('/messages/get')
                    if (response.status !== 200) return;
                    response = await response.json()
                    list = response
                    console.log("list", list)
                } catch (err) {
                    console.log(err)
                }
                const body = document.getElementById('body')
                const data = list.map((d) => {
                    return `
                    ${d.Seen === 1 ? `<tr class="read-color" onclick="ReadMessage(${d.Id})">` : `<tr onclick="ReadMessage(${d.Id})">`}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td>${d.From_Username}</td>
                        <td>${d.Message}</td>
                         <td>
                             ${formated_date(d.Created_At)}
                            

                        </td>
                        <td>
                            <input type="button" class="btn btn-outline-dark" onclick="window.location.href = '/Message?to=${d.From_Username}';" value="Reply" style="background-color: #f90 !important; color: black;">
                            <input type="button" class="btn btn-outline-dark" id="delete-msg-${d.Id}" onclick="DeleteMessage(${d.Id})" value="Delete" style="background-color: #f90 !important; color: black;">
                            
                        </td>


                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    `
                }).join('')
                body.innerHTML = data;
            }
            async function ReadMessage(id) {
                try {
                    await fetch(`/messages/read/${id}`)
                } catch (error) {
                    console.log(error)
                }
            }
            async function DeleteMessage(id){
                try {
                    await fetch(`/messages/delete/${id}`)
                    location.reload();
                } catch (error) {
                    console.log(error)
                }
            }
        </script>
        {{/if}}
        </div>
    </div>
</body>