<body style="background-color: #1b1b1b;">
    <div class="row">
        <div class="col-sm text-center"></div>
        <div id="AboutUs" class="col-lg text-center">
            <br>
            <h3 class="display-5"><strong>About TutorHub</strong></h3>
            <h6 class="display-6" style="font-size: 30px;"><small>TutorHub was created by SFSU students for SFSU
                    students.
                    Our mission is to help tutors and students easily find each other and schedule tutoring
                    sessions.
                </small></h6><br><br>
        </div>
        <div class="col-sm text-center"></div>
    </div>

    <div id="main-content">
    </div>

</body>