<body>
  {{!-- <div class="count-particles"> <span class="js-count-particles">--</span> particles </div> --}}
  <div class="welcome-container">
    <div id="particles-js"></div>
    <div class="welcome">Welcome to My Website!</div>
    <div class="hint">(Click the background)</div>

    <!-- Section: Social media -->
    <div class="social-media">
      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1"
        onclick="location.href='https://www.github.com/RobertFranz-sfsu'" role="button"><i
          class="fab fa-github"></i></a>
    </div>

    <!-- Section: Social media -->

  </div>
  </div>

</body>

