<body>
    <div id="content">
        <br><br>
        <h3 style=" text-align: center;"> Login</h3>
        <form class="form-grid-reg" align="center" method="POST" action="/users/login"
            enctype="application/x-www-form-urlencoded">
            <br>
            <div style="display: flex;
                    justify-content: center;">
                <br> <label id="lblusername" class="tags reg-lbl-uname" for="username">Username: &nbsp;</label>
                    <input id="username" class="text-input reg-input-uname" type="text" placeholder="Username" required
                            name="username">
            </div>

            <br>
            <div style="display: flex;
                    justify-content: center;">
                <br><label id="lblpassword" class="tags reg-lbl-password" for="password">&nbsp;Password: &nbsp;</label>
                    <input id="password" class="text-input reg-input-password" type="password" placeholder="Password"
                            required name="password">
            </div>

            <br>
                
            <div style="display: flex; justify-content: center;">
                <button type="button" class="btn btn-outline-dark" onclick="Back();"
                style="background-color: #f90 !important; color: black;">Cancel</button>
                <p style="color: #1b1b1b;">___</p>
                <button id="submit" class="btn btn-outline-dark" type="submit" style="background-color: #f90 !important; color: black;">Submit</button>
                
            </div>

            <input type="button" class="btn btn-link" onclick="window.location.href = 'register';" value="Need an account? Register here"
            style="color: #f90;">
            <button type="button" class="btn btn-link" style="color: #f90;">Trouble logging in?</button>
    </div>
</body>