<body>
    <div id="content">
        <br><div class="row">
            <div class = "col-sm text-center">
            </div>
            <div class = "col-sm text-center"></div>
            </break><div class = "col-sm text-center">
            </div>
        </div>

        <div style="
        display: flex;
        justify-content: center;
        align-items: center;">
            <h2>Message Tutor</h2>
        </div>
        {{#if logged}}
        <div style="display: flex; justify-content: center;
        align-items: center;">
            <textarea rows="30" cols="100" placeholder="Enter tutor message here..." id="checkmessage"></textarea>
        </div>

        <br><div class="row">
            <div class = "col-sm text-center"></div>
            <div class = "col-sm text-center">
                <button type="button" class="btn btn-outline-dark" onclick="Back();" style="position: relative; background-color: #f90 !important; color: black;">Back</button>            
            </div>
            <div class = "col-sm text-center">
                <input type="button" class="btn btn-outline-dark" onclick="AddMessage();" value="Submit" style="background-color: #f90 !important; color: black;" id="submit">
            </div>
            <div class = "col-sm text-center"></div>
        </div>
        {{else}}
        <div id="cant-message" class = "col-sm text-center">Must be logged in to send a message 
            <br><br>
            <input type="button" class="btn btn-outline-dark"  onclick="window.location.href = '/Login'" value="Log In to Message" style="background-color: #f90 !important; color: black;">
        </div>
        {{/if}}
    </div>    
</body>