<body>
    <div id="content">
        <h1 style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;Privacy Policy</h1>
        <div class="row">
            <div class="col-sm text-center"></div>
            <div class="col-lg text-center">
                <h5>&nbsp;&nbsp;&nbsp;&nbsp;TutorHub is for demonstration purposes only.</h5>
                <h5>&nbsp;&nbsp;&nbsp;&nbsp;We will not use, sell, or otherwise share any information entered into the site.</h5>
                <h5>&nbsp;&nbsp;&nbsp;&nbsp;We will not accept any form of payment, this is a demonstration website.</h5>
                <br><br><br><br>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;Please do NOT enter any personal or sensitive information into the website.</h3>
            </div>
            <div class="col-sm text-center"></div>
        </div>
    </div>
</body>