<head>
    <title>All Projects </title>
</head>

<body>
    <div id="projects-container">
        <div class="l-side"></div>
        <div id="list-bot" class="pro-list">
            <div class="list-title">Twitterbot</div>
            <div class="list-img">Image</div>
            <div class="list-text">Paragraph of text</div>
            <a class="material-symbols-outlined" href="/twitterbot" type="button">read_more</a>
        </div>
        <div id="list-vis" class="pro-list">
            <div class="list-title">Audio Visualizer</div>
            <div class="list-img">Image</div>
            <div class="list-text">Paragraph of text</div>
            <a class="material-symbols-outlined" href="/visualizer" type="button">read_more</a>
        </div>
        <div id="list-tut" class="pro-list">
            <div class="list-title">Tutoring Website</div>
            <div class="list-img">Image</div>
            <div class="list-text">Paragraph of text</div>
            <a class="material-symbols-outlined" href='/tutor' type="button">read_more</a>
        </div>
        <div id="list-hci" class="pro-list">
            <div class="list-title">Human Computer Interaction</div>
            <div class="list-img">Image</div>
            <div class="list-text">Paragraph of text</div>
            <a class="material-symbols-outlined" href="/hci" type="button">read_more</a>
        </div>
        <div class="r-side"></div>
    </div>
</body>