<body>
        <div id="content">
                <br>
                <header>
                        <h3 align="center"> Register</h3>
                </header>

                <div class="row">
                        <div>

                        </div>
                </div>

                <form id="register-form" class="form-grid-reg" align="center" method="POST" action="/users/register"
                        enctype="application/x-www-form-urlencoded" onsubmit="checkPasswords(this)">
                        <br>
                        <label id="lblusername" class="tags reg-lbl-uname" for="username">Username: &nbsp;</label>
                        <input id="username" class="text-input reg-input-uname" type="text" placeholder="Username" required
                                name="username">
                        <br><br>
                        <label id="lblemail" class="tags reg-lbl-email" for="email">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Email: &nbsp;</label>
                        <input id="email" class="text-input reg-input-email" type="email" placeholder="Email" required
                                name="email">

                        <br><br>
                        <label id="lblpassword" class="tags reg-lbl-password" for="password">Password: &nbsp;</label>
                        <input id="password" class="text-input reg-input-password" type="password" placeholder="Password"
                                required name="password">

                        <br><br>
                        <label id="lblpassword2" class="tags reg-lbl-cpassword" for="cpassword">Confirm Password: &nbsp;</label>
                        <input id="cpassword" class="text-input reg-input-cpassword" type="password"
                                placeholder="Confirm Password" required name="cpassword">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <br><br>

                        <input type="checkbox" required>
                        <label> I accept the <a href="" style="color: #f90 !important;">Terms of Service</a> and <a href="PrivacyPolicy" style="color: #f90 !important;">Privacy
                                        Policy</a></label>
                        <br><br>

                        <button type="button" class="btn btn-outline-dark" onclick="Back();"
                                style="background-color: #f90 !important; color: black;">Cancel</button>

                        <button id="submit" type="submit" class="btn btn-outline-dark" onclick="return performChecks()"
                                style="background-color: #f90 !important; color: black;">Submit Form</button>


                </form>
        </div>
</body>