<head>
    <link rel="stylesheet" type="text/css" href="/sudoku.css" />
    <script src="/sudoku/gamescript.js" defer type="module"></script>
</head>

<div id="sudoku-container">
    <div class="alert-container" data-alert-container></div>
    <div id="game-board">

    </div>

</div>
<div id="temp">
    <div class="i-grid">
        <div id="warning">Still a work in progress</div>
        <div class="instructions">p = preset board</div>
        <div class="instructions"> enter to check answer or automatically solve if not finished</div>
        <div class="instructions">click or use arrow keys to move selection </div>
        <div class="instructions">backspace or delete to remove number </div>
        <div class="instructions">d = clear whole board </div>
    </div>

</div>
