<head>
    <link rel="stylesheet" type="text/css" href="/twenty.css" />
    <script src="/twentyscript/gamescript.js" type="module"></script>
</head>
<div id="t-body">
    <div id="game-board">

    </div>
</div>