<head>
    <link rel="stylesheet" type="text/css" href="/twenty.css" />
    <script src="/twentyscript/gamescript.js" type="module"></script>
</head>
<div id="t-body">
    <div id="game-msg" data-msg>
        <div id="msg-container">
        <div id="msg">Use your arrow keys to move the tiles. <br>
            If two tiles of the same value collide, <br>
            they combine into one. <br>
            Press any key to start. </div>
        
    </div>
    </div>
    <div id="game-board">

    </div>
    <div id="cur-score" data-score>0000</div>
</div>