<head>
    <title>2048</title>
    <link rel="stylesheet" type="text/css" href="/twenty.css" />
    <script src="/twentyscript/gamescript.js" type="module"></script>
</head>
<div id="t-body">
    <div class="msg-overlay" data-msg>
        <div id="msg-container">
            <div class="msg-title">Instructions</div>
            <div id="msg">Use your arrow keys to move the tiles. <br>
            If two tiles of the same value collide, <br>
            they combine into one. Press any key to start. 
            </div>
        
        </div>
    </div>
    <div id="game-board">

    </div>
    <div id="cur-score" data-score>0000</div>
</div>