<body>
    <div>My Twitter bot!</div>
    <blockquote class="twitter-tweet" tw-align-center>
        <p lang="en" dir="ltr">Hi, I&#39;m Volunteer Bot! If you&#39;re located in the Bay Area type &#39;<a
                href="https://twitter.com/hashtag/volunteer?src=hash&amp;ref_src=twsrc%5Etfw">#volunteer</a>&#39; to be
            retweeted!</p>&mdash; Volunteer Bot (@M1thraea) <a
            href="https://twitter.com/M1thraea/status/1534271031874945026?ref_src=twsrc%5Etfw">June 7, 2022</a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>